# URL API бэкенда
NEXT_PUBLIC_SERVER_URL=http://localhost:4200/api

# URL фронтенда
NEXT_PUBLIC_APP_URL=http://localhost:3000

# База для картинок из assets бэкенда
NEXT_PUBLIC_SERVER_URL_IMAGE=http://localhost:4200
